.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(../Assert/bf2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-left {
  flex: 1;

  background-size: cover;
}

.login-right {
  width: 50%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-form {
  width: 400px;
  padding: 40px;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-bottom: 80px;
  padding-top: 80px;
}

.login-form .logo {
  width: 150px;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 15px;
  text-align: left;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-me {
  text-align: left;
  margin-bottom: 20px;
}

.remember-me input {
  margin-right: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}


.into{
  text-align: left;
  margin-top: 1vw;
  margin-bottom: 1.2vw;
}


.form-control input {
  width: 100%;
  padding: 10px;
  border: none;
  
}

.welcome, .remember {
  color: grey;
}

.scb{
  font-size: 2vw;
  color: #017aa7;
}

.global{
  font-size: 1.3vw;
  color: #47b63e;
  
}

.loginButton{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
  color: #ffffff !important;
  border-color: #47b63e !important;
  background-color: #47b63e !important;
}